$black-300: #181818;
$black-400: #1E1E1E;
$black-600: #161616;
$black: $black-600;

$white: #ffffff;

$gray-200: #F6F6F6;
$gray-300: #D9D9D9;
$gray-400: #8E8E8E;
$gray-600: #5E5E5E;

$gray: $gray-400;

$green-300: #01BD59;
$green-600: #009482;
$green: $green-600;

$red: #FF005E;

$blue: #2AABEE;

$dark: #262B38;