/* stylelint-disable selector-class-pattern */
/* stylelint-disable plugin/selector-bem-pattern */
.header {
  @include media-breakpoint-down(desktop) {
    padding: 16px $tablet-gap;
  }

  @include media-breakpoint-down(phone) {
    padding: 16px;
  }

  position: sticky;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  padding: 16px $desktop-gap;
  border-bottom: 1px solid $gray-300;
  background-color: $gray-200;

  .body--catalog-open & {
    z-index: 1001;
  }

  %page-dark & {
    background-color: transparent;
    position: relative;
  }

  %page-dark.body--stuck & {
    background-color: #000;
  }
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    @include media-breakpoint-down(tablet) {
      width: auto;
      height: 24px;
    }

    width: auto;
    height: 40px;
    color: #000;

    %page-dark & {
      color: $white;
    }
  }
}

.header-navigation {
  @include media-breakpoint-down(tablet) {
    display: none;
  }
}

.header-navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.header-navigation-item {
  &:not(:last-child) {
    margin-right: 16px;
  }

  svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

.header-link {
  display: flex;
  align-items: center;
}

.header-contacts {
  display: flex;
  align-items: center;
}

.header-contacts-tel {
  @include media-breakpoint-down(tablet) {
    font-size: 14px;
    margin-right: 16px;
    display: block;
  }

  margin-right: 24px;
  font-weight: 500;
  font-size: 16px;

  @media screen and (max-width: 1320px) {
    display: none;
  }
}

.header-contacts-icon {
  svg {
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }

  @include media-breakpoint-down(tablet) {
    display: none;
  }
}

.header-contacts-button {
  @include media-breakpoint-down(tablet) {
    display: none;
  }

  %page-dark & {
    color: $white;
    border: double 4px transparent;
    border-radius: 8px 8px 8px 0;
    background-image: linear-gradient(#000, #000), radial-gradient(circle at top left, #00d344, #009482);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
}

.header-burger {
  @include media-breakpoint-down(tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  display: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;

  span {
    width: 100%;
    height: 2px;
    background-color: $black;
    border-radius: 2px;
    transition: transform 0.3s;

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    %page-dark & {
      background-color: $white;
    }
  }

  &--close {
    /* stylelint-disable-next-line no-descending-specificity */
    span {
      position: absolute;
      top: 50%;
      width: 24px;

      &:nth-child(2) {
        opacity: 0;
      }

      &:first-child {
        transform: rotate(45deg);
      }

      &:last-child {
        transform: rotate(135deg);
      }
    }
  }
}

.header-mobile {
  display: none;
  z-index: 1000;
  width: 100%;
  height: calc(100vh - 57px);
  padding: 24px 16px;
  opacity: 0;
  margin-top: 57px;

  &--show {
    display: flex;
    flex-direction: column;
    opacity: 1;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;

    %page-dark & {
      background-color: $black-300;
    }
  }
}

.header-mobile-nav {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;

  .header-navigation-item {
    text-align: center;
    margin-right: 0;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.header-mobile-tg {
  display: flex;
  align-items: center;
  color: $blue;
  text-decoration: none;
  margin: 0 auto 24px;

  svg {
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }
}

.header-mobile-button {
  %page-dark & {
    color: $white;
    border: double 2px transparent;
    border-radius: 8px 8px 8px 0;
    background-image: linear-gradient($black-300, $black-300), radial-gradient(circle at top left, #00d344, #009482);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
}

// Catalog Menu

.header-catalog-menu {
  @include media-breakpoint-down(tablet) {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 57px);
    padding: 36px 20px;
  }

  position: fixed;
  z-index: 1001;
  right: 0;
  left: 0;
  padding: 36px 60px;
  transform: translateY(-100%);
  transition: all 0.3s;
  background-color: $white;
  opacity: 0;
  pointer-events: none;

  &--active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }

  %page-dark & {
    background-color: $black-600;
  }
}

.header-catalog-content {
  @include media-breakpoint-down(tablet) {
    grid-template-columns: repeat(2, 1fr);
    flex: 1;
  }

  @include media-breakpoint-down(phone) {
    grid-template-columns: repeat(1, 1fr);
    overflow: auto;
  }

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.header-catalog-list {
  display: flex;
  flex-direction: column;
}

.header-catalog-list-item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  a {
    position: relative;

    &::after {
      @include pseudo;

      top: 4px;
      right: -17px;
      width: 8px;
      height: 8px;
      border: 2px solid $black;
      border-radius: 2px;
      transform: rotate(-45deg);
      border-left: 0;
      border-top: 0;
    }

    &:hover {
      &::after {
        border-color: $green;
      }
    }
  }
}

.header-catalog-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 16px;
  display: block;
}

.header-catalog-back {
  @include media-breakpoint-down(tablet) {
    display: flex;
  }

  display: none;
  width: 100%;
  margin-top: 48px;

  %page-dark & {
    color: $white;
    border: double 2px transparent;
    border-radius: 8px 8px 8px 0;
    background-image: linear-gradient($black-300, $black-300), radial-gradient(circle at top left, #00d344, #009482);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
}