.hero {
  margin-top: 24px;
}

.hero-container {
  @include media-breakpoint-down(tablet) {
    margin-bottom: 24px;
  }

  margin-bottom: 48px;
}

.hero-top {
  @include media-breakpoint-down(tablet) {
    margin-bottom: 24px;
  }

  @include media-breakpoint-down(phone) {
    grid-template-columns: repeat(1, 1fr);
  }

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-bottom: 48px;
}

.hero-top-left {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero-list-item {
  position: relative;
  padding-left: 20px;

  &::before {
    @include pseudo;

    top: 5px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: $green-600;
    border-radius: 50%;
  }

  &:not(:last-child) {
    margin-right: 16px;
  }
}

.hero-title {
  margin-bottom: 16px;
}

.hero-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  &--desktop {
    @include media-breakpoint-down(tablet) {
      display: none;
    }
  }

  &--mobile {
    @include media-breakpoint-down(tablet) {
      display: grid;
      grid-column: 1 / span 2;
    }

    @include media-breakpoint-down(phone) {
      grid-column: 1;
      grid-template-columns: 1fr;
    }

    display: none;
  }
}

.hero-button {
  flex: 1;
}

.hero-description {
  @include media-breakpoint-down(tablet) {
    font-size: 16px;
    font-weight: 400;
  }

  font-weight: 500;
  font-size: 20px;
  line-height: 1.3em;
  margin-bottom: 24px;
}

.hero-cons {
  @include media-breakpoint-down(desktop) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
  }

  @include media-breakpoint-down(tablet) {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 16px;
  }
}