.policy {
  @include media-breakpoint-down(tablet) {
    margin-bottom: 24px;
  }

  @include media-breakpoint-down(desktop) {
    margin-bottom: 44px;
  }

  margin-bottom: 56px;

  p {
    @include media-breakpoint-down(tablet) {
      font-size: 16px;
      margin-bottom: 16px;
    }

    font-size: 20px;
    margin: 0 0 24px;
  }

  h6 {
    @include media-breakpoint-down(tablet) {
      font-size: 16px;
      margin-bottom: 16px;
    }

    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
  }
}