.request {
  @include media-breakpoint-down(desktop) {
    padding-top: 46px;
    padding-bottom: 46px;
  }

  @include media-breakpoint-down(tablet) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  background-color: $black-600;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: center;
  padding-top: 46px;
  padding-bottom: 46px;
  border-bottom: 1px solid rgba($color: $white, $alpha: 10%);

  %page-dark & {
    background-color: #000;
  }
}

.request-holder {
  @include media-breakpoint-down(tablet) {
    margin: 0 -16px;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }

  display: grid;
  max-width: 1440px;
  overflow: hidden;
  background-color: $gray-200;
  border-radius: 8px;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

  %page-dark & {
    background-color: $black-300;
  }
}

.request-content {
  @include media-breakpoint-down(tablet) {
    padding: 24px;
    padding-right: 35%;
  }

  @include media-breakpoint-down(phone) {
    padding-right: 30%;
  }

  position: relative;
  overflow: hidden;
  padding: 48px 0 48px 48px;

  %page-dark & {
    @include media-breakpoint-down(tablet) {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 40px;
      padding-bottom: 0;
    }

    @include media-breakpoint-down(phone) {
      grid-template-rows: unset;
    }
  }
}

.request-title {
  display: inline-block;
  margin-bottom: 16px;

  %page-dark & {
    @include media-breakpoint-down(phone) {
      grid-column: 1 / span 2;
    }

    color: $white;
  }
}

.request-description {
  @include media-breakpoint-down(tablet) {
    font-size: 16px;
    margin-top: 0;

    %page-dark & {
      grid-column: 1;
    }
  }

  @include media-breakpoint-down(phone) {
    margin-bottom: 0;
  }

  font-size: 20px;
  line-height: 1.5em;
  font-weight: 400;
  margin-top: 0;
}

.request-image {
  @include media-breakpoint-down(tablet) {
    position: absolute;
    right: 0;
    bottom: 0;
    left: auto;
    margin-bottom: 0;
    width: 177px;
    height: 100px;
    background-image: url("../../../img/request-decor.png");
  }

  @include media-breakpoint-down(phone) {
    right: 10px;
    bottom: 24px;
    width: 80px;
    height: 80px;
    background-image: url("../../../img/request-decor-mob.png");
  }

  // position: absolute;
  // bottom: 0;
  // left: 0;
  width: 277px;
  height: 150px;
  background-image: url("../../../img/request-decor.png");
  background-size: cover;
  margin-bottom: -48px;

  %page-dark & {
    @include media-breakpoint-down(tablet) {
      grid-column: 2;
      grid-row: 1 / span 2;
      width: 250px;
      height: 220px;
      background-image: url("../../../img/request-dark-mob.png");
      margin-bottom: -80px;
    }

    @include media-breakpoint-down(phone) {
      grid-row: 2;
      width: 170px;
      height: 140px;
      margin-right: -60px;
      margin-bottom: -20px;
    }

    background-image: url("../../../img/request-dark.png");
    width: 320px;
    margin-left: auto;
  }
}

.request-form-wrapper {
  @include media-breakpoint-down(tablet) {
    padding: 24px;
  }

  background-color: $white;
  padding: 48px;
  border-radius: 8px;

  %page-dark & {
    background-color: $black-300;
  }
}