.help-wrapper {
  @include media-breakpoint-down(tablet) {
    gap: 8px;
    margin: 0 -16px;
  }

  @include media-breakpoint-down(phone) {
    display: flex;
    flex-direction: column;
    min-height: 385px;
    background-position: 40% 0;
  }

  display: grid;
  position: relative;
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  background-image: url("../../../img/help-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.help-content {
  @include media-breakpoint-down(tablet) {
    padding: 40px;
    padding-right: 0;
  }

  @include media-breakpoint-down(phone) {
    padding: 30px;
    padding-right: 40px;
  }

  z-index: 1;
  padding: 60px;
  padding-right: 0;
}

.help-title {
  @include media-breakpoint-down(tablet) {
    font-size: 24px;
  }

  font-weight: 500;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.help-image {
  @include media-breakpoint-down(tablet) {
    right: 0;
  }

  @include media-breakpoint-down(phone) {
    top: unset;
    bottom: 0;
    width: 180px;
    height: 290px;
  }

  position: absolute;
  z-index: 0;
  top: 0;
  right: 80px;
  height: 100%;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.help-button {
  border: double 2px transparent;
  border-radius: 8px 8px 8px 0;
  background-image: linear-gradient(#fff, #fff), radial-gradient(circle at top left, #00d344, #009482);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}