.footer {
  background-color: $black;
  color: $white;

  %page-dark & {
    background-color: transparent;
  }
}

.footer-top {
  @include media-breakpoint-down(desktop) {
    padding: 32px 24px;
  }

  @include media-breakpoint-down(tablet) {
    flex-direction: column;
    padding: 32px 24px;
  }

  @include media-breakpoint-down(phone) {
    padding: 32px 24px;
  }

  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px $desktop-gap;
}

.footer-logo {
  @include media-breakpoint-down(tablet) {
    width: 172px;
    height: 40px;
    margin-bottom: 16px;
  }

  width: auto;
  height: 52px;
}

.footer-nav {
  @include media-breakpoint-down(tablet) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 24px;
    flex-direction: row;
  }

  @include media-breakpoint-down(phone) {
    flex-wrap: wrap;
    gap: 16px;
  }

  margin-left: auto;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
}

.footer-nav-item {
  @include media-breakpoint-down(tablet) {
    width: fit-content;
  }

  @include media-breakpoint-down(phone) {
    width: fit-content;
  }

  width: 230px;
  color: $white;

  .footer-contacts & {
    &:not(:last-child) {
      @include media-breakpoint-down(tablet) {
        margin-bottom: 16px;
      }
    }
  }

  a {
    display: inline-block;
    color: $white;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  &:not(:last-child) {
    @include media-breakpoint-down(tablet) {
      margin-bottom: 0;
      margin-right: 16px;
    }

    @include media-breakpoint-down(phone) {
      margin-right: 0;
    }

    margin-bottom: 16px;
  }
}

.footer-contacts {
  @include media-breakpoint-down(desktop) {
    min-width: 312px;
  }
}

.footer-social {
  a {
    width: 32px;
    height: 32px;
  }

  svg {
    width: 32px;
    height: 32px;
  }

  &:last-child {
    margin-left: 16px;
  }
}

.footer-bottom {
  @include media-breakpoint-down(desktop) {
    padding: 32px 24px;
  }

  @include media-breakpoint-down(tablet) {
    padding: 16px 24px;
  }

  @include media-breakpoint-down(phone) {
    flex-direction: column;
    align-items: flex-start;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 24px $desktop-gap;

  &::before {
    @include pseudo;

    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #00d344 0%, #009482 100%);
  }

  span {
    font-size: 14px;
    font-weight: 400;
    color: $gray-600;
  }
}

.footer-copyright {
  font-size: 14px;
  font-weight: 400;
  color: $gray-600;
  margin: 0;
}

.footer-legal {
  @include media-breakpoint-down(phone) {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8px;
  }

  display: flex;
  align-items: center;

  a {
    font-size: 14px;
    font-weight: 400;
    color: $gray-600;
    margin: 0;
    text-decoration: none;

    &:hover {
      color: $white;
    }

    &:not(:last-child) {
      @include media-breakpoint-down(phone) {
        margin-right: 0;
        margin-bottom: 8px;
      }

      margin-right: 36px;
    }
  }
}