.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  color: $black;
  border: 1px solid #0A0C08;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  transition: all .3s;
  overflow: hidden;
  z-index: 1;

  %page-dark & {
    border-color: rgba($color: $white, $alpha: 0.2);
    color: $white;
  }

  &::after,
  &:before {
    @include pseudo;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity .3s;
  }

  &::after {
    background: linear-gradient(180deg, #00D344 -0.02%, #009482 100.02%), #7DAA30;
    opacity: 0;
  }

  &::before {
    background: transparent;
  }

  &:hover {
    background: none;
    border-color: transparent;
    color: $white;

    &::after {
      opacity: 1;
    }

    &::before {
      opacity: 0;
    }
  }
}

.button--black {
  color: $white;
  transition: none;
  z-index: 0;
  position: relative;
  overflow: hidden;

  &::after,
  &:before {
    @include pseudo;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity .3s;
  }

  &::after {
    background: linear-gradient(180deg, #00D344 -0.02%, #009482 100.02%), #7DAA30;
    opacity: 0;
  }

  &::before {
    background: $black-600;
    opacity: 1;
  }

  &:hover {
    background: none;
    border: 1px solid transparent;

    &::after {
      opacity: 1;
    }

    &::before {
      opacity: 0;
    }
  }
}

.button--decorate {
  // background: linear-gradient(180deg, #00D344 -0.02%, #009482 100.02%), #7DAA30;
  color: $white;
  border: 1px solid transparent;
  border-radius: 8px 8px 8px 0px;
  position: relative;
  overflow: hidden;
  z-index: 0;

  &::after,
  &::before {
    @include pseudo;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity .3s;
  }

  &:after {
    background: linear-gradient(180deg, #00D344 -0.02%, #009482 100.02%), #7DAA30;
    opacity: 1;
  }

  &:before {
    background: linear-gradient(180deg, #009482 -0.02%, #00D344 100.02%), #7DAA30;
    opacity: 0;
  }

  &:hover {
    background-color: transparent;
    // background: linear-gradient(180deg, #009482 -0.02%, #00D344 100.02%), #7DAA30;

    &::after {
      opacity: 0;
    }

    &::before {
      opacity: 1;
    }
  }

  
}

.button--primary {
  border-radius: 8px 8px 8px 0px;
}

.button--white {
  background-color: $white;
  color: #0A0C08;
  width: fit-content;
}

.button--circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 0;
}

.button--sm {
  padding: 8px 24px;
  font-size: 14px;
}

.button--full {
  width: 100%;
}

.close {
  background: none;
  position: relative;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  padding: 0;

  %page-dark & {
    color: $white;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}
