.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  color: $black;
  border: 1px solid #0A0C08;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  transition: all .3s;

  %page-dark & {
    border-color: rgba($color: $white, $alpha: 0.2);
    color: $white;
  }

  &:hover {
    background-color: $dark;
    color: $white;
  }
}

.button--black {
  background: $dark;
  color: $white;
  transition: none;

  &:hover {
    background: linear-gradient(180deg, #00d344 -0.02%, #009482 100.02%);
    border: 1px solid transparent;
  }
}

.button--decorate {
  background: linear-gradient(180deg, #00D344 -0.02%, #009482 100.02%), #7DAA30;
  color: $white;
  border: 1px solid transparent;
  border-radius: 8px 8px 8px 0px;
}

.button--primary {
  border-radius: 8px 8px 8px 0px;
}

.button--circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 0;
}

.button--sm {
  padding: 8px 24px;
  font-size: 14px;
}

.button--full {
  width: 100%;
}

.close {
  background: none;
  position: relative;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  padding: 0;

  svg {
    width: 24px;
    height: 24px;
  }
}
