
$fontFamily: 'IBM Plex Sans', 'Verdana', 'Geneva', sans-serif;

$fontVariants: (
  400: 'regular',
  500: 'semibold',
  bold: bold,
  italic: italic,
  bolditalic: 'bolditalic',
);

$fontFormats: (
  woff2: woff2,
  woff: woff,
);

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("IBMPlexSans"),
       /* Если не получилось, загрузит woff2 */
       url("../../fonts/IBMPlexSans/ibmplexsans-regular.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("../../fonts/IBMPlexSans/ibmplexsans-regular.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("IBMPlexSans"),
       /* Если не получилось, загрузит woff2 */
       url("../../fonts/IBMPlexSans/ibmplexsans-medium.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("../../fonts/IBMPlexSans/ibmplexsans-medium.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("IBMPlexSans"),
       /* Если не получилось, загрузит woff2 */
       url("../../fonts/IBMPlexSans/ibmplexsans-semibold.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("../../fonts/IBMPlexSans/ibmplexsans-semibold.woff") format("woff");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("IBMPlexSans"),
       /* Если не получилось, загрузит woff2 */
       url("../../fonts/IBMPlexSans/ibmplexsans-bold.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("../../fonts/IBMPlexSans/ibmplexsans-bold.woff") format("woff");
}

// @include font-face(
//   'IBMPlexSans',
//   ibmplexsans,
//   $fontVariants,
//   $fontFormats,
//   true,
//   true
// );