.link {
  display: inline-block;
  text-decoration: none;
  color: $black;
  transition: all $transition;
  cursor: pointer;

  &:hover {
    color: $green;
  }

  &--active {
    color: $green;
  }

  %page-dark & {
    color: $white;

    &:hover {
      color: $green-300;
    }
  }
}
