.section {
  padding: 0 $desktop-gap;
  max-width: 1440px;
  width: 100%;

  & + & {
    margin-top: 64px;

    @include media-breakpoint-down(desktop) {
      margin-top: 64px;
    }

    @include media-breakpoint-down(tablet) {
      margin-top: 40px;
    }
  }

  &--fullsize {
    padding: 0;
  }

  &--wide {
    max-width: 100%;;
  }

  @include media-breakpoint-down(desktop) {
    padding: 0 $tablet-gap;
  }

  @include media-breakpoint-down(desktop) {
    padding: 0 16px;
  }
}

.middle-wrapper {
  max-width: 60%;
  margin: 16px auto 0;

  @include media-breakpoint-down(desktop) {
    max-width: 100%;
  }

  @include media-breakpoint-down(phone) {
    margin-top: 8px;
  }
}