.tabs-block__tab {
  use {
    stroke: $gray-400;
    
  }

  &--active {
    use {
      stroke: $black;

      %page-dark & {
        stroke: $white;
      }
    }
  }
}

.tab-content {
  display: none;

  &--active {
    display: grid;
  }
}