/* stylelint-disable selector-class-pattern */
.service-title {
  @include media-breakpoint-down(tablet) {
    font-size: 32px;
    margin-bottom: 8px;
  }

  margin-bottom: 24px;
  font-size: 60px;
}

.service-hero-description {
  @include media-breakpoint-down(tablet) {
    margin-bottom: 16px;
  }

  margin-bottom: 48px;
  margin-top: 0;
  font-size: 20px;
  font-weight: 500;
}

.services-features-list {
  @include media-breakpoint-down(tablet) {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.service-info-wrapper {
  @include media-breakpoint-down(phone) {
    display: flex;
    flex-direction: column-reverse;
  }

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.service-info-content {
  display: flex;
  flex-direction: column;
}

.service-info-title {
  margin-bottom: 12px;
}

.service-info-description {
  font-size: 20px;
  margin-bottom: 48px;
}

.service-info-button {
  @include media-breakpoint-down(phone) {
    width: 100%;
  }

  margin-top: auto;
  width: fit-content;
}

.service-info-image-holder {
  position: relative;
  padding-top: calc(100% / (16 / 9));
  border-radius: 32px;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.gallery {
  @include media-breakpoint-down(phone) {
    overflow: auto;
  }

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.gallery-item {
  @include media-breakpoint-down(phone) {
    width: 312px;
    height: 234px;
    padding: 0;
  }

  position: relative;
  overflow: hidden;
  padding-top: calc(100% / (4 / 3));

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.service-tabs {
  margin-bottom: 32px;
}

.service-regions {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.service-regions-tab {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  cursor: pointer;
  transition: color 0.3s;

  &:not(:last-child) {
    margin-right: 24px;
  }

  &.tabs-block__tab--active {
    text-decoration-line: underline;
    color: $green-600;
  }

  &:hover {
    color: $green-600;
  }
}

.service-region-cities {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.service-region-city {
  &:not(:last-child) {
    margin-right: 12px;
  }

  &:hover {
    background-color: $black-600;
  }

  &.tabs-block__tab--active {
    background-color: $black-600;
    color: $white;
  }
}

.city-wrapper {
  display: flex;

  .contacts-block {
    flex: 1;

    &:not(:last-child) {
      margin-right: 24px;
    }

    .link--green {
      color: $green-300;

      &:hover {
        color: $green-600;
      }
    }
  }
}